body {
    margin: 0;
    background-color: rgb(78, 130, 181);

}

h1 {
    margin: 0 auto;
    padding: 1rem 0;
    text-align: center;
    color: #abcdef;
}

p {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    text-decoration: dotted;
    font-size: larger;
}

#double_lines_yo {
    text-decoration-line: line-through;
    text-decoration-style: double;
}
#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    color: #abcdef;
    width: 500px;
    padding: 10px;
    height: 12rem;


}

div > div {
    background-color: lightslategray;
    padding: 10px;
}

div:nth-child(odd):hover {
    transform: translate(-11px);
    transition: transform 1s ease-in-out;
}

div:nth-child(even):hover {
    transform: translate(11px);
    transition: transform 1s ease-in-out;
}

div:nth-child(odd) {
    background-color: #abcdef;
    color: blueviolet;
}

